In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("quikr_car.csv")

In [3]:
df.shape

(892, 6)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [5]:
df=df[df["year"].str.isnumeric()]
df["year"]=df["year"].astype("int")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [7]:
df=df[df["Price"]!="Ask For Price"]

In [8]:
df["Price"]=df["Price"].str.replace(",","").astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [10]:
df["kms_driven"]=df["kms_driven"].str.split(" ").str.get(0).str.replace(",","")

In [11]:
df=df[df["kms_driven"].str.isnumeric()]

In [12]:
df["kms_driven"]=df["kms_driven"].astype(int)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [14]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [15]:
df=df[~df["fuel_type"].isna()]

In [16]:
df

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [17]:
df["name"]=df["name"].str.split(" ").str.slice(0,3).str.join(" ")

C:\Users\Ali\AppData\Local\Temp\ipykernel_6416\2397976530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["name"]=df["name"].str.split(" ").str.slice(0,3).str.join(" ")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [19]:
df.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [20]:
df.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [21]:
df.sort_values(by=['Price'], ascending=False)

                     name   company  year    Price  kms_driven fuel_type
562    Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel
719     Audi A3 Cabriolet      Audi  2015  3100000       12516    Petrol
838     Ford Endeavor 4x4      Ford  2019  2900000        9000    Diesel
510          Jaguar XE XE    Jaguar  2016  2800000        8500    Petrol
668           Audi Q5 2.0      Audi  2014  2390000       34000    Diesel
..                    ...       ...   ...      ...         ...       ...
553        Tata Indica V2      Tata  2005    35000      150000    Diesel
598          Tata Nano LX      Tata  2010    32000       48008    Petrol
454        Tata Nano GenX      Tata  2010    32000       44005    Petrol
851     Maruti Suzuki 800    Maruti  2000    30000       33400    Petrol
389  Maruti Suzuki Maruti    Maruti  1995    30000       55000    Petrol

[816 rows x 6 columns]

In [22]:
df=df[df["Price"]<=3100000]

In [48]:
df.to_csv("Clean Car.csv")

In [23]:
df.sort_values(by=['Price'], ascending=False)

                     name company  year    Price  kms_driven fuel_type
719     Audi A3 Cabriolet    Audi  2015  3100000       12516    Petrol
838     Ford Endeavor 4x4    Ford  2019  2900000        9000    Diesel
510          Jaguar XE XE  Jaguar  2016  2800000        8500    Petrol
668           Audi Q5 2.0    Audi  2014  2390000       34000    Diesel
667         Jaguar XF 2.2  Jaguar  2013  2190000       29000    Diesel
..                    ...     ...   ...      ...         ...       ...
553        Tata Indica V2    Tata  2005    35000      150000    Diesel
454        Tata Nano GenX    Tata  2010    32000       44005    Petrol
598          Tata Nano LX    Tata  2010    32000       48008    Petrol
389  Maruti Suzuki Maruti  Maruti  1995    30000       55000    Petrol
851     Maruti Suzuki 800  Maruti  2000    30000       33400    Petrol

[815 rows x 6 columns]

In [24]:
X=df.drop(columns="Price")

In [25]:
y=df["Price"]

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2)

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [28]:
encdr=OneHotEncoder()

In [29]:
encdr.fit(X[["name","company","fuel_type"]])

OneHotEncoder()

In [30]:
encdr.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [31]:
col_trans=make_column_transformer((OneHotEncoder(categories=encdr.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [32]:
lr=LinearRegression()

In [33]:
pp=make_pipeline(col_trans,lr)

In [34]:
pp.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [35]:
y_prdct=pp.predict(X_test)

In [36]:
r2_score(y_prdct,y_test)

0.7075353538953619

In [37]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pp=make_pipeline(col_trans,lr)
    pp.fit(X_train,y_train)
    y_prdct=pp.predict(X_test)
    scores.append(r2_score(y_test,y_prdct))

In [50]:
max(scores)

0.8991190499074018

In [39]:
np.argmax(scores)

302

In [40]:
scores[np.argmax(scores)]

0.8991190499074018

In [43]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pp=make_pipeline(col_trans,lr)
pp.fit(X_train,y_train)
y_prdct=pp.predict(X_test)
r2_score(y_test,y_prdct)

0.8991190499074018

In [44]:
import pickle

In [45]:
pickle.dump(pp,open("LRM.pkl","wb"))

In [47]:
pp.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([456549.33356479])

In [55]:
a=sorted(df["name"].unique())

In [56]:
a.insert(0, 'Select Company')

In [57]:
a

['Select Company',
 'Audi A3 Cabriolet',
 'Audi A4 1.8',
 'Audi A4 2.0',
 'Audi A6 2.0',
 'Audi A8',
 'Audi Q3 2.0',
 'Audi Q5 2.0',
 'Audi Q7',
 'BMW 3 Series',
 'BMW 5 Series',
 'BMW 7 Series',
 'BMW X1',
 'BMW X1 sDrive20d',
 'BMW X1 xDrive20d',
 'Chevrolet Beat',
 'Chevrolet Beat Diesel',
 'Chevrolet Beat LS',
 'Chevrolet Beat LT',
 'Chevrolet Beat PS',
 'Chevrolet Cruze LTZ',
 'Chevrolet Enjoy',
 'Chevrolet Enjoy 1.4',
 'Chevrolet Sail 1.2',
 'Chevrolet Sail UVA',
 'Chevrolet Spark',
 'Chevrolet Spark 1.0',
 'Chevrolet Spark LS',
 'Chevrolet Spark LT',
 'Chevrolet Tavera LS',
 'Chevrolet Tavera Neo',
 'Datsun GO T',
 'Datsun Go Plus',
 'Datsun Redi GO',
 'Fiat Linea Emotion',
 'Fiat Petra ELX',
 'Fiat Punto Emotion',
 'Force Motors Force',
 'Force Motors One',
 'Ford EcoSport',
 'Ford EcoSport Ambiente',
 'Ford EcoSport Titanium',
 'Ford EcoSport Trend',
 'Ford Endeavor 4x4',
 'Ford Fiesta',
 'Ford Fiesta SXi',
 'Ford Figo',
 'Ford Figo Diesel',
 'Ford Figo Duratorq',
 'Ford Figo Petrol',
 'Ford Fusion 1.4',
 'Ford Ikon 1.3',
 'Ford Ikon 1.6',
 'Hindustan Motors Ambassador',
 'Honda Accord',
 'Honda Amaze',
 'Honda Amaze 1.2',
 'Honda Amaze 1.5',
 'Honda Brio',
 'Honda Brio V',
 'Honda Brio VX',
 'Honda City',
 'Honda City 1.5',
 'Honda City SV',
 'Honda City VX',
 'Honda City ZX',
 'Honda Jazz S',
 'Honda Jazz VX',
 'Honda Mobilio',
 'Honda Mobilio S',
 'Honda WR V',
 'Hyundai Accent',
 'Hyundai Accent Executive',
 'Hyundai Accent GLE',
 'Hyundai Accent GLX',
 'Hyundai Creta',
 'Hyundai Creta 1.6',
 'Hyundai Elantra 1.8',
 'Hyundai Elantra SX',
 'Hyundai Elite i20',
 'Hyundai Eon',
 'Hyundai Eon D',
 'Hyundai Eon Era',
 'Hyundai Eon Magna',
 'Hyundai Eon Sportz',
 'Hyundai Fluidic Verna',
 'Hyundai Getz',
 'Hyundai Getz GLE',
 'Hyundai Getz Prime',
 'Hyundai Grand i10',
 'Hyundai Santro',
 'Hyundai Santro AE',
 'Hyundai Santro Xing',
 'Hyundai Sonata Transform',
 'Hyundai Verna',
 'Hyundai Verna 1.4',
 'Hyundai Verna 1.6',
 'Hyundai Verna Fluidic',
 'Hyundai Verna Transform',
 'Hyundai Verna VGT',
 'Hyundai Xcent Base',
 'Hyundai Xcent SX',
 'Hyundai i10',
 'Hyundai i10 Era',
 'Hyundai i10 Magna',
 'Hyundai i10 Sportz',
 'Hyundai i20',
 'Hyundai i20 Active',
 'Hyundai i20 Asta',
 'Hyundai i20 Magna',
 'Hyundai i20 Select',
 'Hyundai i20 Sportz',
 'Jaguar XE XE',
 'Jaguar XF 2.2',
 'Jeep Wrangler Unlimited',
 'Land Rover Freelander',
 'Mahindra Bolero DI',
 'Mahindra Bolero Power',
 'Mahindra Bolero SLE',
 'Mahindra Jeep CL550',
 'Mahindra Jeep MM',
 'Mahindra KUV100',
 'Mahindra KUV100 K8',
 'Mahindra Logan',
 'Mahindra Logan Diesel',
 'Mahindra Quanto C4',
 'Mahindra Quanto C8',
 'Mahindra Scorpio',
 'Mahindra Scorpio 2.6',
 'Mahindra Scorpio LX',
 'Mahindra Scorpio S10',
 'Mahindra Scorpio S4',
 'Mahindra Scorpio SLE',
 'Mahindra Scorpio SLX',
 'Mahindra Scorpio VLX',
 'Mahindra Scorpio Vlx',
 'Mahindra Scorpio W',
 'Mahindra TUV300 T4',
 'Mahindra TUV300 T8',
 'Mahindra Thar CRDe',
 'Mahindra XUV500',
 'Mahindra XUV500 W10',
 'Mahindra XUV500 W6',
 'Mahindra XUV500 W8',
 'Mahindra Xylo D2',
 'Mahindra Xylo E4',
 'Mahindra Xylo E8',
 'Maruti Suzuki 800',
 'Maruti Suzuki A',
 'Maruti Suzuki Alto',
 'Maruti Suzuki Baleno',
 'Maruti Suzuki Celerio',
 'Maruti Suzuki Ciaz',
 'Maruti Suzuki Dzire',
 'Maruti Suzuki Eeco',
 'Maruti Suzuki Ertiga',
 'Maruti Suzuki Esteem',
 'Maruti Suzuki Estilo',
 'Maruti Suzuki Maruti',
 'Maruti Suzuki Omni',
 'Maruti Suzuki Ritz',
 'Maruti Suzuki S',
 'Maruti Suzuki SX4',
 'Maruti Suzuki Stingray',
 'Maruti Suzuki Swift',
 'Maruti Suzuki Versa',
 'Maruti Suzuki Vitara',
 'Maruti Suzuki Wagon',
 'Maruti Suzuki Zen',
 'Mercedes Benz A',
 'Mercedes Benz B',
 'Mercedes Benz C',
 'Mercedes Benz GLA',
 'Mini Cooper S',
 'Mitsubishi Lancer 1.8',
 'Mitsubishi Pajero Sport',
 'Nissan Micra XL',
 'Nissan Micra XV',
 'Nissan Sunny',
 'Nissan Sunny XL',
 'Nissan Terrano XL',
 'Nissan X Trail',
 'Renault Duster',
 'Renault Duster 110',
 'Renault Duster 110PS',
 'Renault Duster 85',
 'Renault Duster 85PS',
 'Renault Duster RxL',
 'Renault Kwid',
 'Renault Kwid 1.0',
 'Renault Kwid RXT',
 'Renault Lodgy 85',
 'Renault Scala RxL',
 'Skoda Fabia',
 'Skoda Fabia 1.2L',
 'Skoda Fabia Classic',
 'Skoda Laura',
 'Skoda Octavia Classic',
 'Skoda Rapid Elegance',
 'Skoda Superb 1.8',
 'Skoda Yeti Ambition',
 'Tata Aria Pleasure',
 'Tata Bolt XM',
 'Tata Indica',
 'Tata Indica V2',
 'Tata Indica eV2',
 'Tata Indigo CS',
 'Tata Indigo LS',
 'Tata Indigo LX',
 'Tata Indigo Marina',
 'Tata Indigo eCS',
 'Tata Manza',
 'Tata Manza Aqua',
 'Tata Manza Aura',
 'Tata Manza ELAN',
 'Tata Nano',
 'Tata Nano Cx',
 'Tata Nano GenX',
 'Tata Nano LX',
 'Tata Nano Lx',
 'Tata Sumo Gold',
 'Tata Sumo Grande',
 'Tata Sumo Victa',
 'Tata Tiago Revotorq',
 'Tata Tiago Revotron',
 'Tata Tigor Revotron',
 'Tata Venture EX',
 'Tata Vista Quadrajet',
 'Tata Zest Quadrajet',
 'Tata Zest XE',
 'Tata Zest XM',
 'Toyota Corolla',
 'Toyota Corolla Altis',
 'Toyota Corolla H2',
 'Toyota Etios',
 'Toyota Etios G',
 'Toyota Etios GD',
 'Toyota Etios Liva',
 'Toyota Fortuner',
 'Toyota Fortuner 3.0',
 'Toyota Innova 2.0',
 'Toyota Innova 2.5',
 'Toyota Qualis',
 'Volkswagen Jetta Comfortline',
 'Volkswagen Jetta Highline',
 'Volkswagen Passat Diesel',
 'Volkswagen Polo',
 'Volkswagen Polo Comfortline',
 'Volkswagen Polo Highline',
 'Volkswagen Polo Highline1.2L',
 'Volkswagen Polo Trendline',
 'Volkswagen Vento Comfortline',
 'Volkswagen Vento Highline',
 'Volkswagen Vento Konekt',
 'Volvo S80 Summum']